{% extends "base.html" %}

{% load sustav_extras %}

{% block title %}
 Incident details
{% endblock %}

{% block nav_bar_curr_active %}
    <div class="navbar-nav">
        <a class="nav-link" href="/sustav/home/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/sustav/statistics/">Statistics</a>
        <a class="nav-link active" href="/sustav/add_new/">+ Add new</a>
    </div>
{% endblock nav_bar_curr_active %}

{% block content %}
    {% if object.has_expertise %}
        <p>Expertise needed: </p>
        {% for expertise in object.get_needed_expertise %}
            <span class="badge badge-info rounded-pill">{{ expertise }}</span>
        {% endfor %}
    {% endif %}

    <br /></br>
    <table class="table">
            {% for label, value in object.get_field_values %}
                <tr>
                    <td><p>{{ label }}<p></td>
                    {% if label == 'Assigned to' %}
                        <td><p>{{ object.user }}</p></td>
                    {% else %}
                        <td><p>{{ value }}</p></td>
                    {% endif %}
                </tr>
            {% endfor %}

    </table>

    <a class="btn btn-primary" href="/sustav/{{ object.pk }}/update">Update</a>
    {% if user|has_group:"koordinator" %}
        <a class="btn btn-danger" href="/sustav/{{ object.pk }}/delete">Delete</a>
    {% endif %}
{% endblock %}