<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home page</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sustav/style.css' %}">
    <div class="topnav" style="text-align: center;">
        <a class="button" href="/">Home</a>
        <a class="button" href="/info">Info</a>
    </div> 
    {% if number_of_incidents %}
        <h2>Total number of  occured incidents: {{ number_of_incidents }} </h2>
    {% else %}
        <h2>No incidents have occured.</h2>
    {% endif %}
</body>
</html>