{% extends "base.html" %}

{% block title %}
    Statistics page
{% endblock %}

{% block nav_bar_curr_active %}
    <div class="navbar-nav">
        <a class="nav-link" href="/sustav/home/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link active" href="/sustav/statistics/">Statistics</a>
        <a class="nav-link" href="/sustav/add_new/">+ Add new</a>
    </div>
{% endblock nav_bar_curr_active %}


{% comment %} {% block header_title %}
    Statistics page
{% endblock %} {% endcomment %}

{% block content%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    
    <h2>Severity distribution</h2>
    <div id="container" style="width: 75%;">
        <canvas id="severity-pie-chart"></canvas>
    </div>

    <h2>Resolved/open distribution</h2>
    <div id="container" style="width: 75%;">
        <canvas id="resolved-pie-chart"></canvas>
    </div>
    <script>

        var config1 = {
            type: 'pie',
            data: {
                datasets: [{
                    data: {{ data_severity|safe }},
                    backgroundColor: [
                        '#6c757d', '#f0ad4e', '#d9534f',
                    ],
                    label: 'Severity'
                }],
                labels: {{ labels_severity|safe }}
            },
            options: {
                responsive: true
            }
        };

        var config2 = {
            type: 'pie',
            data: {
                datasets: [{
                data: {{ data_resolved|safe }},
                backgroundColor: [
                    '#6c757d', '#5bc0de',
                ],
                label: 'Resolved/open'
                }],
                labels: {{ labels_resolved|safe }}
            },
            options: {
                responsive: true
            }
        };

        window.onload = function() {
            var ctx1 = document.getElementById('severity-pie-chart').getContext('2d');
                window.severity = new Chart(ctx1, config1);
            var ctx2 = document.getElementById('resolved-pie-chart').getContext('2d');
                window.resolved = new Chart(ctx2, config2);
        };

    </script>
{% endblock %}